html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* FONTS */
h1 {
  font: bold 10rem/10rem Inter;
  text-align: center;
}
h2 {
  font: bold 4rem Inter;
}
h3 {
  font: 1.5rem Inter;
}
p {
  font: 1rem Inter;
}

/* CONTAINER */
.site-container {
  margin: 1rem 8rem 8rem 8rem;
}
.navbar {
  position: absolute;
  display: flex;
  right: 8rem;
}

/* CONTENT */
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.message-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 10rem;
}
.barChart {
  
}