/* REM */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@media only screen and (min-width: 240px) {
  html {
    font-size: 8px;
  }
}
@media only screen and (min-width: 960px) {
  html {
    font-size: 12px;
  }
}

/* FONTS */
h1 {
  font: bold 6rem/7rem Inter;
  text-align: center;
  margin: 0;
}
h2 {
  font: bold 5rem Inter;
  text-align: center;
}
h3 {
  font: 3rem Inter;
}
p {
  font: 2rem Inter;
}

/* CONTAINER */
.site-container {
  padding: 1rem 10rem 10rem 10rem;
}
.navbar {
  position: absolute;
  display: flex;
  right: 10rem;
}

/* CONTENT */
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.message-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem 12rem;
}